{% extends 'base.html' %}

{% block title %} 
BMI Analysis
{% endblock %}

{% block content %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 80px); padding-top: 15px;">
    <!-- Main content section -->
    <main class="text-center bg-light p-4 rounded shadow-lg" style="max-width: 800px; font-family: 'Roboto', sans-serif;">
        <h1 class="mb-4" style="color: #000000;">Body Mass Index (BMI) Analysis for <span style="color: #007bff;">{{ name }}</span></h1>

        <!-- BMI Visualization section -->
        <div class="border-bottom mb-4">
            <h4 style="color: #3f4347;">A visualization of the changes in your Body Mass Index (BMI) in the past <strong>{{ stat_dict.DayCount }}</strong> days is given below:</h4>
            <div style="text-align: center;" class="my-3">
                <img src="{{ imgsrc }}" alt="bmi_throughout" class="img-fluid rounded" style="border: 1px solid #dee2e6;">
            </div>
        </div>

        <!-- BMI Statistics section -->
        <div class="mb-4">
            <h4 style="color: #3f4347;">Below are some statistics regarding your BMI:</h4>
            <ul style="text-align: left; margin: auto; color: #495057;">
                <li>Your highest BMI of <strong>{{ stat_dict.highestbmi.value }}</strong> was recorded on <strong>{{ stat_dict.highestbmi.date }}</strong>.</li>
                <li>Your lowest BMI of <strong>{{ stat_dict.lowestbmi.value }}</strong> was recorded on <strong>{{ stat_dict.lowestbmi.date }}</strong>.</li>
                <li>In the past <strong>{{ stat_dict.DayCount }}</strong> days your BMI was in the healthy range for <strong>{{ stat_dict.healthyDays }}</strong> days.</li>
                <li>Your average BMI for the period was <strong>{{ stat_dict.avgbmi }}</strong>.</li>
                <li>The standard deviation of your BMI for the period was <strong>{{ stat_dict.stdbmi }}</strong>.</li>
            </ul>
        </div>

        <!-- Overall analysis -->
        <div class="mt-3">
            <h3 style="color: #009b77;">The overall analysis of the data shows that you are in the {{category}} category. You can also calculate your BMI today using our <a href="/dashboard/bmi-calculator/{{name}}" method = 'GET' style="color: #3498db;">BMI Calculator Tool</a>!</h3>
        </div>
    </main>
</div>
{% endblock %}
