{% extends 'base.html' %}

{% block title %} 
BMI Analysis
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row vh-100">
        <!-- Main content section with full-width layout -->
        <main class="col-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Body Mass Index (BMI) Analysis for {{name}}</h1>
            </div>
            <!-- BMI Visualization section -->
            <div class="border-bottom">
                <h4>A visualization of the changes in your Body Mass Index (BMI) in the past {{stat_dict.DayCount}} days is given below:</h4>
                <div style="text-align: center;">
                    <img src="{{ imgsrc }}" alt="bmi_throughout">
                </div>
            </div>
            <!-- BMI Statistics section: -->
            <br>
            <div class="mt-1 border-bottom">
                <div>
                    <h4>Below are some statistics regarding your BMI:</h4>
                    <ul>
                        <li>
                            Your highest BMI of {{stat_dict.highestbmi.value}} was recorded on {{stat_dict.highestbmi.date}}
                        </li>
                        <li>
                            Your lowest BMI of {{stat_dict.lowestbmi.value}} was recorded on {{stat_dict.lowestbmi.date}}
                        </li>
                        <li>
                            In the past {{stat_dict.DayCount}} days your BMI was in the healthy range for {{stat_dict.healthyDays}} days
                        </li>
                        <li>
                            Your average BMI for the period was {{stat_dict.avgbmi}}
                        </li>
                        <li>
                            The standard deviation of your BMI for the period was {{stat_dict.stdbmi}}
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>The overall analysis of the data shows that you are in the {{category}} category. You can also calculate your BMI today using our <a href="/dashboard/bmi-calculator/{{name}}" method = 'GET' style="color: #3498db;">BMI Calculator Tool</a>!</h3>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}