{% extends 'base.html' %}

{% block title%}Dashboard Health and Fitness{% endblock %}

{% block navbar %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="background-color: black;">
  <div>
    <h3 class="float-md-start mb-0" style="color: white;">Health & Fitness</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-1 text-light me-4" aria-current="page" href="/">Home</a>
      <a class="nav-link fw-bold py-1 px-1 text-light" href="/login">Sign out</a>
    </nav>
  </div>
</div>
{% endblock %}

{% block content %}

{% if msg == 'No File Uploaded' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  No File was uploaded
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif msg == 'No File Detected' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  No File Detected
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row vh-100">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
          <ul class="nav flex-column vh-100">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/bmi" style="color: black">
                <span data-feather="Home" class="align-text-bottom"></span>
                BMI
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black;">
                <span data-feather="file" class="align-text-bottom"></span>
                DataVis1
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black;">
                <span data-feather="shopping-cart" class="align-text-bottom"></span>
                DataVis2
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black;">
                <span data-feather="users" class="align-text-bottom"></span>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black;">
                <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black;">
                <span data-feather="layers" class="align-text-bottom"></span>
                Integrations
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      {% block main %}
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Hello User!</h1> <!-- The 'User' is just a placeholder, the actual name of the person who logs in will be replaced with this-->
          <!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar" class="align-text-bottom"></span>
              This week
            </button>
          </div> -->
        </div>
        <div>
            <h4>Upload your CSV file containing your health and workout data below:</h4>
            <br>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="fileUploadButton" name="file" accept=".csv, .xlsx">
                <button type="submit" style="border-radius: 5px; background-color: black; color: white;">Upload</button>
            </form>
        </div>
      </main>
      {% endblock %}
    </div>
</div>

{% endblock %}