{% extends 'base.html' %}

{% block content %}
{% if msg == 'No File Uploaded' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  No file was uploaded
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif msg == 'No File Detected' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  No File Detected
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row vh-100">
        <!-- Main content section with full-width layout -->
        <main class="col-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Hello User!</h1>
            </div>
            <!-- File upload section -->
            <div>
                <h4>Upload your latest CSV file containing your health and workout data below:</h4>
                <br>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" id="fileUploadButton" name="file" accept=".csv, .xlsx">
                    <button type="submit" style="border-radius: 5px; background-color: black; color: white;">Upload</button>
                </form>
            </div>

            <!-- Section with icons, buttons, and descriptions -->
            <div class="mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-3 text-center mb-4">
                        <img src="https://www.tataaia.com/content/dam/tataaialifeinsurancecompanylimited/calculator/life-planning-tools/bmi-calculator/banner-image-bmi.png" alt="Icon 1" class="img-fluid mb-3">
                        <h5>BMI Calculator</h5>
                        <p>The Body Mass Index is calculated by dividing an adult's weight in kilograms by their height in metres squared.</p>
                        <a href="#" class="btn btn-primary">Go to BMI Calculator</a>
                    </div>
                    <div class="col-md-3 text-center mb-4">
                        <img src="https://via.placeholder.com/100" alt="Icon 2" class="img-fluid mb-3">
                        <h5>DataVis2</h5>
                        <p>Description of  2</p>
                        <a href="#" class="btn btn-primary">Go to DataVis2</a>
                    </div>
                    <div class="col-md-3 text-center mb-4">
                        <img src="https://via.placeholder.com/100" alt="Icon 3" class="img-fluid mb-3">
                        <h5>DataVis3</h5>
                        <p>Description of  3</p>
                        <a href="#" class="btn btn-primary">Go to DataVis3</a>
                    </div>
                    <div class="col-md-3 text-center mb-4">
                        <img src="https://via.placeholder.com/100" alt="Icon 4" class="img-fluid mb-3">
                        <h5>DataVis4</h5>
                        <p>Description of  4</p>
                        <a href="#" class="btn btn-primary">Go to DataVis4</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
