{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <p> Welcome, {{name}}!</p>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Ticker</th>
                      <th scope="col">Prediction</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                      <td>{{stock['ticker']}}</td>
                      <td>{{stock['prediction']}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}