{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
    <!-- Main content section -->
    <main class="text-center bg-light p-4 rounded shadow-lg" style="max-width: 800px; font-family: 'Roboto', sans-serif;">
        <!-- Alerts -->
        {% if msg == 'logged in' %}
        <div class="alert alert-success alert-dismissible fade show position-fixed start-50 translate-middle-x w-50 text-center" role="alert" style="bottom: 20%; z-index: 1050;">
            You are logged in!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif msg == 'deleted' %}
        <div class="alert alert-success alert-dismissible fade show position-fixed start-50 translate-middle-x w-50 text-center" role="alert" style="bottom: 20%; z-index: 1050;">
            Your account has been successfully deleted!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <h1 class="mb-4" style="color: #000000;">Welcome to HealthHub</h1>
        <p class="lead" style="color: #3f4347;">Track your fitness journey, log workouts and meals, and receive personalized insights to reach your health goals!</p>
        <p>
            <img src="https://i.pinimg.com/736x/d0/65/e9/d065e9c1ded559b7564bfd29f1b0080c.jpg" alt="HealthHub Logo" style="height: 500px;">
        </p>
    </main>
</div>
{% endblock %}
