{% extends 'base.html' %}

{% block title %} 
Radat Analysis
{% endblock %}
{% block content %}
<div class="container">
    <h1>Hello {{name}}!</h1>
    <h3 style="text-align: center;">Radar Throughout the Month</h3>
    <div style="text-align: center;">
        <img src="{{ imgsrc }}" alt="radar_throughout">
    </div>
</div>
<div class="container-fluid">
    <div class="row vh-100">
        <!-- Main content section with full-width layout -->
        <main class="col-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            </div>
        </main>
    </div>
</div>
{% endblock %}