{% extends 'base.html' %}

{% block title %} 
Radat Analysis
{% endblock %}
{% block content %}
<div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="min-height: calc(100vh - 80px); padding-top: 15px;">
    <main class="text-center bg-light p-4 rounded shadow-lg" style="max-width: 800px; font-family: 'Roboto', sans-serif;">
        <h1 class="mb-4" style="color: #000000;">Workout Radar Chart for <span style="color: #007bff;">{{ name }}</span></h1>
        <div class="border-bottom mb-4">
            <h4 style="color: #3f4347;">A visualization of the muscle groups targeted in your workouts in the period is given below:</h4>
            <div style="text-align: center;" class="my-3">
                <img src="{{ imgsrc }}" alt="radar_throughout" class="img-fluid rounded"">
            </div>
        </div>
    </main>
</div>
{% endblock %}