{% extends 'base.html' %}
{% block content %}

{% if msg == 'username' %}
<div class="alert alert-danger alert-dismissible fade show position-fixed start-50 translate-middle-x w-50 text-center" role="alert" style="bottom: 20%; z-index: 1050;">
  This username has been registered. Please choose another one.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <form method="post" class="text-center" style="margin-top: -110px;">
        <div class="form-group mb-3">
            <label for="username" style="font-size: 24px;">Username</label>
            <input type="text" class="form-control mx-auto" 
                   style="width: 500px; height: 60px; font-size: 18px; padding: 10px;" 
                   name="username" id="username" placeholder="Enter Username">
        </div>

        <div class="form-group mb-3">
            <label for="password" style="font-size: 24px;">Password</label>
            <input type="password" class="form-control mx-auto" 
                   style="width: 500px; height: 60px; font-size: 18px; padding: 10px;" 
                   name="password" id="password" placeholder="Enter Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-light fw-bold border-white bg-dark text-white">Signup</button>
        </div>
    </form>
</div>

{% endblock %}