{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 text-center">
			<h3> Welcome, {{name}}!</h3>
		</div>
	</div>

    <br>
    <br>
    <form method="post">
	<div class="row justify-content-center">
        <div class="col-8 text-center">
            <table class="table mx-auto w-auto">
            <tbody>
                <tr>
                <th>Username</th>
                <td>
                    <input type="username" class="form-control-plaintext text-center"
                     placeholder="{{current_user.username}}" readonly>
                </td>
                <td></td>
                </tr>
                <tr></tr>

                
                <th>Password</th>
                {% if editPWD == 'No' %}
                <td>
                    <input type="password" class="form-control-plaintext text-center"
                     placeholder="{{current_user.password}}" readonly>
                </td>
                <td>
                    
                </td>
                {% else %}
                <td>
                <input type="password" class="form-control text-center"
                 name="password"
                 placeholder="{{current_user.password}}">
                </td>
                <td>
                    <button type="submit" id="confirmPWD"
                            name="confirmPWD"
                            class="btn btn-success">
                    <i class="bi bi-check-circle"></i>
                    </button>
                </td>
                {% endif %}
                
                {% if msg %}
                <div class="alert alert-success alert-dismissible fade show position-fixed start-50 translate-middle-x w-50 text-center" role="alert" style="bottom: 20%; z-index: 1050;">
                    {{ msg }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                </tr>
                
            </tbody>
            </table>
        </div>
	</div>
    <button type= "submit" id="editPWD" 
            class="btn btn-lg btn-light fw-bold border-white bg-dark text-white" 
            name="editPWD">Edit Password</button>
    <button type="submit" id="delAC"
            class="btn btn-lg btn-light fw-bold border-white bg-dark text-white" 
            name="delAC">Destroy Account</button>
</form>
</div>

{% endblock %}
